{% extends layout.html.twig %}

{% block cuerpo %}
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">App Locales Eventos</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Búsqueda de eventos" aria-label="Buscar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>
{% endblock %}

