<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Eventos</title>
    <link href="./view//bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="./view//bootstrapbootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./jquery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    {% block navbar %}{% endblock %}
    <div class="row col-md-12 justify-content-center">
        <h1>Gestion de Eventos</h1>
    </div>
    <div class="row col-md-12 justify-content-center">
        <p>Este proyecto muestra cómo hacer una aplicación web MVC con PHP.</p>
        <p>El objectivo es mostrar cómo realizar una aplicación utilizando éste patrón de diseño</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block cuerpo %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>