{% extends "layout.html.twig" %}
{% block cuerpo %}
    <div class="row">
        <div class="col-6">
            <input type="button" id="altaLocal" value="Alta Evento"/>
        </div>
        <div class="col-6">
            <input class="col-6" type="button" id="altaLocal" value="Editar Local"/>
            <input type="button" id="altaLocal" value="Eliminar Local"/>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <form id="idLocal" class="needs-validation" novalidate disabled="true">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input class="form-control" type="text" id="nombre" required>
                    <div class="invalid-feedback">
                        El nombre del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion">Direcci&oacute;n:</label>
                    <input class="form-control" type="text" id="direccion" required>
                    <div class="invalid-feedback">
                        La direcci&oacute;n del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono">Tel&eacute;fono:</label>
                    <input class="form-control" type="tel" id="telefono" required>
                    <div class="invalid-feedback">
                        El Tel&eacute;fono del Local es obligatorio.
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input class="form-control" type="email" id="email">
                </div>
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select id="categoria"  class="form-control" class="form-control">
                        <option value="museo">Museo</option>
                        <option value="sala de conciertos">Sala de conciertos</option>
                        <option value="teatro">Teatro</option>
                        <option value="auditorio">Auditorio</option>
                        <option value="palacio de congresos">Palacio de Congresos</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" id="modificarLocal" value="Confirmar">
                </div>
            </form>
        </div>
        <div class="offset-1 col-3">

        </div>
    </div>
{% endblock %}