
<div id="modalEvento" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Datos del Evento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--- cuerpo del modal--->
                <form id="idEventoModal" method="post" action="" class="needs-validation" novalidate>
                    <input id="Local_idLocal" name="Local_idLocal" type="text" value="{{ local['idLocal'] }}" hidden/>
                    <input id="idEvento" type="text" hidden/>
                    <div class="form-group">
                        <label for="nombreEvento">Nombre:</label>
                        <input class="form-control" type="text" id="nombreEvento" name="nombreEvento" required>
                        <div class="invalid-feedback">
                            El nombre del Evento es obligatorio.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descripcionEvento">Descripci&oacute;n:</label>
                        <input class="form-control" type="text" id="descripcionEvento" name="descripcionEvento" required>
                        <div class="invalid-feedback">
                            La descripci&oacute;n del Evento es obligatorio.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fechaEvento">Fecha:</label>
                        <input class="form-control" type="date" id="fechaEvento" name="fechaEvento" required>
                        <div class="invalid-feedback">
                            La fecha del Evento es obligatorio.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lugarEvento">Lugar:</label>
                        <input class="form-control" type="text" id="lugarEvento" name="lugarEvento" required>
                        <div class="invalid-feedback">
                            El lugar del Evento es obligatorio.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tipoEvento">Tipo:</label>
                        <select id="tipoEvento" name="tipoEvento"  class="form-control">
                            <option id="Deportivo" value="Deportivo">Deportivo</option>
                            <option id="Concierto" value="Concierto">Concierto</option>
                            <option id="Exposición" value="Exposicion">Exposici&oacute;n</option>
                            <option id="Aprendizaje" value="Aprendizaje">Aprendizaje</option>
                            <option id="Baile" value="Baile">Baile</option>
                            <option id="Defensa Personal" value="Defensa personal">Defensa Personal</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" id="guardarEvento" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
